@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/****** LIVE SITES DOWN, SWITCH FROM HEROKU *******/
/* .temporaryHeroku  */
/*******  *******/

a {
  justify-content: space-between;
  text-decoration: none;
  color: white
} 

a:hover {
  cursor: pointer;
  justify-content: space-between;
  text-decoration: none;
  color: white
}

ul {
  list-style: none;
} 

.tempFontSize {
  font-size: 55%;
}

.Portfolio {
  margin: 0 auto;
  background: rgb(24,130,226);
  background: linear-gradient(168deg, rgba(24,130,226,1) 0%, rgba(72,72,228,1) 39%, rgba(130,83,201,1) 68%);
  font-family: 'Montserrat', sans-serif;
}

.AboutSection, .ContactSection, .IntroSection {
  height: 95vh
}

.SectionContent {
  margin: 0 auto;
  margin-left: 17vw;
  margin-right: 8vw;
  padding: 40px;
  color: white;
  font-size:x-large;
}

/********************  Navbar *********************/

.Navbar {
  background-color:rgba(222, 222, 222, 0.8);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 10vh;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.NavbarContent {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: white
}

.NavbarItem {
  display: inline;
  margin-left: 2rem;
  color: rgb(48, 48, 48);
  text-decoration: none;
}

.NavbarItem:hover {
  color: rgb(48, 48, 48);
  cursor: pointer;
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.2);
}

/********************  Intro Section *********************/

.IntroParagraph {
  margin-top: 8vh;
  font-size: 2.8vh;
}

.IntroSection span {
  font-weight: bold;
}

.IntroResumeContainer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  text-decoration: none;
  color: white;
}

.IntroResumeContent {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 4vh;
  width: fit-content;
}

.IntroResumeContent a:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.2);
}

.IntroResumeContainer a {
  text-decoration: none;
  color: white;
}

/********************  About Section *********************/

.AboutSection p {
  font-size: 2.5vh;
}

.AboutTitle p {
  font-size: 4vh;
  font-weight: bold;
}

.AboutSection span {
  font-weight: bold;
}

.AboutSplitOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8vh;
}

.AboutImageContainer {
  width: 50%;
}

.AboutImage {
  display: flex;
  justify-content: center;
}

.AboutImage img {
  width: clamp(100px, 200px, 300px);
  box-shadow: 14px 12px 12px 0 rgba(222, 222, 222, 0.8);
}


.AboutParagraphOne {
  width: 50%;
}

.AboutSplitTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 6vw;
  margin-top: 6vh;
}

/********************  Projects *********************/

.ProjectsSection img {
  max-width: 30vw;
}

.ProjectsHeader {
  font-weight: bold;
  font-size: 3.5vh;
}

.ProjectTitle {
  margin-top: 8vh;
  margin-bottom: 6vh;
  margin-left: 4vw;
  font-size: 3vh;
}

.ProjectPicAndParaContainer {
  display: flex;
  flex-direction: row;
  min-height: 300px;
}

.ProjectDescriptionA {
  margin-left: 4vw;
  max-width: 800px;
  font-size: 2.8vh;
}

.ProjectDescriptionB {
  margin-right: 4vw;
  margin-left: 4vw;
  max-width: 800px;
  font-size: 2.8vh;
  display: flex;
  flex-direction: column;
}

.CarouselContainer {
  display: flex;
  flex-direction: column;
}

.MyCarousel {
  display: flex;
  flex-direction: row;
}

.MyCarousel img {
  min-height: 200px;
  max-height: 300px;
}

.CarouselArrowContainer {
  display: flex;
  align-items: center;
}

.LeftCarouselArrow {
  cursor: pointer;
  margin-right: 2vw;
}

.LeftCarouselArrow:hover {
  cursor: pointer;
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.4);
}

.RightCarouselArrow {
  cursor: pointer;
  margin-left: 2vw;
}

.RightCarouselArrow:hover {
  cursor: pointer;
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.4);
}

.ProjectImageIndicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.CarouselImageOff {
  opacity: 0.5;
}

.ProjectTechandLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4vh;
}

.ProjectTechTitle {
  margin-bottom: 2vh;
}

.ProjectDevIconsA {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 4vw;
}

.ProjectDevIconsB {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4vw;
}

.ProjectLinksA {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  font-size: 2.8vh;
  margin-left: 3vw;
}

.ProjectLinksA a {
  text-decoration: none;
  color: white
}
 
.ProjectLinksA a:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.2);
}

.ProjectLinksB {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  font-size: 2.8vh;
  margin-right: 3vw;
}

.ProjectLinksB a {
  text-decoration: none;
  color: white
}
 
.ProjectLinksB a:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.2);
}

.ProjectDividerContainer {
  display: flex;
  justify-content: center;
}

.ProjectDivider {
  margin-top: 4vh;
  width: 68vw;
  height: 2vh;
  border-bottom: solid white;
  opacity: 0.20;
}

/********************  Contact *********************/

.ContactTitle {
  font-weight: bold;
  font-size: 4vh;
}

.ContactSection h2 {
  text-decoration: underline;
}

.ContactEmailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.email-link:hover {
  cursor: pointer;
  color: white;
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.4);
}

.email-text {
  font-size: 2.5vh;
}

.ContactLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -6vh;
}

.ContactLinks a {
  text-decoration: none;
  color: white;
}
 
.ContactLinks a:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition-duration: 0.2s;
  animation: ease-in-out;
  transform: scale(1.4);
}

.ContactLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
}

.ContactLinkContainer p{
  margin-top: 4vh;
}

.ContactSocialsContainer p {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/**********************************************************/
/********************  Mobile Styling *********************/
/**********************************************************/

@media screen and (max-width:600px) {
  a {
    justify-content: space-between;
    text-decoration: none;
    color: white
  } 
  
  a:hover {
    cursor: pointer;
    justify-content: space-between;
    text-decoration: none;
    color: white
  }
  
  ul {
    list-style: none;
  } 
  
  .Portfolio {
    margin: 0 auto;
    background-color: rgba(0, 128, 128, 0.632);
    font-family: 'Montserrat', sans-serif;
  }
  
  .ContactSection, .IntroSection {
    height: 95vh;
  }
  
  .SectionContent {
    margin: 0 auto;
    padding: 20px;
    color: white;
  }
  
  /********************  Navbar *********************/
  
  .Navbar {
    background-color:rgba(222, 222, 222, 0.8);
    position: sticky;
    top: 0px;
    width: 100%;
    height: 10vh;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    color: white;
  }
  
  .NavbarContent {
    max-width: 900px;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    color: white
  }
  
  .NavbarItem {
    display: inline;
    margin-left: 2rem;
    color: rgb(48, 48, 48);
    text-decoration: none;
    font-size: smaller;
  }
  
  .NavbarItem:hover {
    color: rgb(48, 48, 48);
    cursor: pointer;
    transition-duration: 0.2s;
    animation: ease-in-out;
    transform: scale(1.2);
  }
  
  /********************  Intro Section *********************/
  
  .IntroSection {
    display: flex;
    flex-direction: column;
    margin-left: 12vw;
  }

  .IntroParagraph {
    margin-top: 8vh;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .IntroSection h2 {
    font-size: 20px;
  }

  .IntroSection span {
    font-weight: bold;
  }
  
  .IntroResumeContainer {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    text-decoration: none;
    color: white;
  }

  .IntroResumeContent {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 4vh;
  }
  
  /********************  About Section *********************/

  .AboutSection {
    height: fit-content;
    margin-bottom: 8vh;
  }

  .AboutSection p {
    font-size: 18px;
    margin: 0 8vw 0 8vw;
  }

  .AboutTitle p {
    font-size: 3vh;
    font-weight: bold;
  }
  
  .AboutSection h2 {
    text-decoration: underline;
    display: flex;
    justify-content: center;
  }
  
  .AboutSection span {
    font-weight: bold;
  }
  
  .AboutSplitOne {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 2vh;
  }
  
  .AboutImageContainer {
    width: 100%;
  }
  
  .AboutImage {
    display: flex;
    justify-content: center;
    margin: 2vh 0 4vh 0;
  }
  
  .AboutImage img {
    width: 140px;
    border: solid dimgray;
    border-width: 2px;
    box-shadow:  6px 6px 8px 2px rgba(222, 222, 222, 0.8);
  }

  .AboutParagraphOne {
    width: 100%;
  }
  
  .AboutSplitTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2vw;
    margin-top: 2vh;
  }
  
  /********************  Projects *********************/
  
  .ProjectsSection img {
    max-width: 80vw;
  }
  
  .ProjectsHeader {
    font-weight: bold;
    font-size: 3vh;
  }
  
  .ProjectTitle {
    margin-top: 8vh;
    margin-bottom: 6vh;
    margin-left: 4vw;
  }
  
  .ProjectPicAndParaContainer {
    display: flex;
    flex-direction: column;
    min-height: 300px;
  }
  
  .ProjectDescriptionA {
    margin-left: 4vw;
    margin-top: 4vh;
    max-width: 800px;
    font-size: 18px;
  }
  
  .ProjectDescriptionB {
    margin-right: 4vw;
    margin-bottom: 4vh;
    max-width: 800px;
    font-size: 18px;
  }
  
  .CarouselContainer {
    display: flex;
    flex-direction: column;
  }
  
  .MyCarousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .MyCarousel img {
    height: 100%;
  }
  
  .CarouselArrowContainer {
    display: flex;
    align-items: center;
  }
  
  .LeftCarouselArrow {
    cursor: pointer;
    margin-right: 2vw;
  }
  
  .RightCarouselArrow {
    cursor: pointer;
    margin-left: 2vw;
  }
  
  .ProjectImageIndicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .CarouselImageOff {
    opacity: 0.5;
  }
  
  .ProjectTechandLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4vh;
  }
  
  .ProjectTechTitle {
    margin-bottom: 2vh;
  }
  
  .ProjectDevIconsA {
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 4vw;
  }
  
  .ProjectDevIconsB {
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4vw;
  }
  
  .ProjectLinksA {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    font-size: 20px;
    margin-left: 3vw;
  }
  
  .ProjectLinksA a {
    text-decoration: none;
    color: white
  }
   
  .ProjectLinksA a:hover {
    cursor: pointer;
    text-decoration: none;
    color: white
  }
  
  .ProjectLinksB {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    font-size: 20px;
    margin-right: 3vw;
  }
  
  .ProjectLinksB a {
    text-decoration: none;
    color: white
  }
   
  .ProjectLinksB a:hover {
    cursor: pointer;
    text-decoration: none;
    color: white
  }
  
  .ProjectDividerContainer {
    display: flex;
    justify-content: center;
  }
  
  .ProjectDivider {
    margin-top: 4vh;
    width: 68vw;
    height: 2vh;
    border-bottom: solid white;
    opacity: 0.20;
  }
  
  .email-link:hover {
    cursor: pointer;
    color: white;
  }
  
  /********************  Contact *********************/
  
  .ContactSection h2 {
    text-decoration: underline;
  }
  
  .ContactLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
  }

  .ContactLinks a {
    text-decoration: none;
    color: white;
  }
   
  .ContactLinks a:hover {
    cursor: pointer;
    text-decoration: none;
    color: white
  }
  
  .ContactEmailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8vh 0 6vh 0;
  }
  
  .ContactSocialsContainer p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email-text {
    font-size: 12px;
  }
}