@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


a {
  justify-content: space-between;
  text-decoration: none;
  color: white
} 

a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
} 

.Portfolio {
  margin: 0 auto;
  background-color: rgba(0, 128, 128, 0.632);
  font-family: 'Montserrat', sans-serif;
}

.AboutSection, .ContactSection, .IntroSection, .ProjectsSection {
  height: 95vh
}

.SectionContent {
  margin: 0 auto;
  margin-left: 17vw;
  margin-right: 8vw;
  padding: 40px;
  color: white;
  font-size:x-large;
}

/********************  Navbar *********************/

.Navbar {
  background-color: black;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 10vh;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  color: white;
}

.NavbarContent {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: white
}

.NavbarItem {
  display: inline;
  margin-left: 2rem;
  color: white;
  text-decoration: none;
}

.NavbarItem:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/********************  Intro Section *********************/
.IntroParagraph {
  margin-top: 8vh;
  font-size: 1.6vw;
}


/********************  About Section *********************/

.AboutSection p {
  font-size: 1.6vw;
}

.AboutSection span {
  font-weight: bold;
}

.AboutSplitOne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8vh;
}

.AboutImageContainer {
  width: 50%;
}

.AboutImage {
  display: flex;
  justify-content: center;
}

.AboutImage img {
  width: clamp(100px, 200px, 300px);
  border: solid black;
  border-width: 1vh;
  box-shadow: 20px 20px 20px 20px blanchedalmond;
}


.AboutParagraphOne {
  width: 50%;
}

.AboutSplitTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 6vw;
}

/********************  Projects *********************/

.ProjectsSection img {
  max-width: 30vw;
}

.ProjectLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.email-link:hover {
  cursor: pointer;
}